@media screen{
    ul{padding-left:0;margin-bottom:0;}
    ::selection{background-color:#00baf2;color:#1c3481;}
    li{display:inline-block;}
    a{-webkit-transition:0.5s ease;transition:0.5s ease;text-decoration:none;}
    a:hover{text-decoration:none;-webkit-transition:0.5s ease;transition:0.5s ease;}
    a:focus{outline:none;}
    .btn{text-transform:capitalize;}
    .btn:focus{-webkit-box-shadow:none;box-shadow:none;}
    .theme-pannel-main{background-color:#ffffff;position:fixed;top:30%;right:0;z-index:9;padding:0 5px;-webkit-box-shadow:0 0 7px 1px rgba(158, 158, 158, 0.2);box-shadow:0 0 7px 1px rgba(158, 158, 158, 0.2);}
    .theme-pannel-main ul li{display:-webkit-box;display:-ms-flexbox;display:flex;padding:10px 12px;border-bottom:1px solid #dadada;}
    .theme-pannel-main ul li span{padding:0;text-transform:uppercase;color:#949494;font-weight:700;}
    .theme-pannel-main ul li a{padding:0;}
    .theme-pannel-main ul li:last-child{border-bottom:0;}
    @media (max-width: 767px){
    .theme-pannel-main{display:none;}
    }
    }
    